@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin gridDisplay ($display, $templates, $gap) {
    display: $display;
    grid-template-columns: $templates;
    gap: $gap;
}   

@mixin styleButton ($background, $padding, $border, $bd) {
    background-image: $background;
    padding: $padding;
    border: $border;
    border-radius: $bd;
}

@mixin styleButtonBackground ($bgs, $bgp) {
    background-size: $bgs;
    background-position: $bgp;
}

@mixin styleBorder ($border, $bd) {
    border: $border;
    border-radius: $bd;
}
