//color
$color-1: #EF543E ;
$color-2: #FFFFFFCC;

//background
$linearbg-1: linear-gradient(90deg, #FFAA32 17.12%, #EF543E 83.66%);
$bg-2: #080e2f;
$bg-3: #171c3d;

//border-radius
$bd-1: 8px;


//font-size
$h2-fs: 3rem;

$transition: all .5s;